@import "../../style/utils/vars.scss";
@import "../../style/utils/mixins.scss";

.back {
  display: flex;
  align-items: center;
  padding: 24px 0 0 16px;

  @include onTablet {
    padding: 40px 0 0 24px;
  }

  @include onDesctop {
    padding: 40px 0 0 32px;
  }

  &__button {
    border: none;
    background-color: $white;
    color: $secondary;

    &:hover {
      color: $primary;
    }
  }
}
