@import "../../style/utils/vars.scss";
@import "../../style/utils/mixins.scss";

.header {
  height: 48px;
  width: 100%;

  @include onTablet {
    display: flex;
    border-bottom: 1px solid $elements;
  }

  @include onDesctop {
    height: 64px;
  }

  &__logo {
    padding: 13px 16px;
  }

  &__menu-button {
    width: 48px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: $white;

    @include onTablet {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid $elements;

    @include onTablet {
      padding: 0;
    }

    @include onDesctop {
      height: 64px;
    }
  }
}
